#red-player-layout,#blue-player-layout, #pioche-layout {
    -fx-padding: 1em;
    -fx-hgap: 0.2em;
    -fx-vgap: 0.2em;
}

#plateau-layout > * {
    -fx-alignment: top-center;
}

.body {
    -fx-alignment: right;
    -fx-background-image: url('../img/background.png');
}
